<!doctype html>
<html lang="en" ng-app="storytime">
    <head>
        <meta charset="utf-8">
        <title>Story Time</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        -->
        <script src="/static/js/lib/angular/angular.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/services.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/directives.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/app.css"/>
    </head>
    <body>

        <div class="navbar navbar-default" role="navigation">
            <a class="navbar-brand" href="#">Story Time</a>
            <div class="navbar-right navbar-form" ng-controller="UserCtrl">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name" ng-model="userName">
                </div>
                <button class="btn btn-default" ng-click="signIn()" value="Log In">Log In</button>
                <button class="btn btn-primary" ng-click="signUp()" value="Sign Up">Sign Up</button>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container">
                Welcome to Story Time.
                <p>
                    <a role="button" class="btn btn-primary btn-lg" href="/1">Read a Story</a>
                </p>
            </div>
        </div>
    </body>
</html>
