<!doctype html>
<html lang="en" ng-app="storytime">
<head>
  <meta charset="utf-8">
  <title>Story Time</title>
  <link rel="stylesheet" href="/static/css/app.css"/>
</head>
<body>
  <div ng-controller="PageCtrl" my-book-columns>
    <div class="book-image-container">
      <img id="book-image" src="/static/img/open_book.jpg">
    </div>
    <div class="columns">
      <div class="column">
          <img id="story-image" src="{{page.image}}">
      </div>
      <div class="column text" my-text-fit>
      </div>
    </div>
    <div class="page-turner" my-page-turner="forward" ng-click="pageTurn('forward')">&raquo;</div>
    <div class="page-turner" my-page-turner="backward" ng-click="pageTurn('backward')">&laquo;</div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    -->
    <script src="/static/js/lib/angular/angular.js"></script>
    <script src="/static/js/lib/angular/angular-route.js"></script>
    <script src="/static/js/reading_story/app.js"></script>
    <script src="/static/js/reading_story/services.js"></script>
    <script src="/static/js/reading_story/controllers.js"></script>
    <script src="/static/js/reading_story/directives.js"></script>
</body>
</html>


