<!doctype html>
<html lang="en" ng-app="storytime">
    <head>
        <meta charset="utf-8">
        <title>Story Time</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- In production use:
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        -->
        <script src="/static/js/lib/angular/angular.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/services.js"></script>
        <script src="/static/js/controllers.js"></script>
        <script src="/static/js/directives.js"></script>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/app.css"/>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>Welcome back!</p> 
                </div>
                <div class="col-md-4" ng-controller="NewStoryCtrl">
                    <button class="btn btn-primary" ng-click="goToNewStoryPage()">New Story</button>
                </div>
            </div>
            <div class="row" ng-controller="OldStoriesCtrl">
                <div class="col-xs-6 col-md-3" ng-repeat="story in stories">
                    <a href="{{story.url}}" class="thumbnail">
                        <img src="{{story.thumbnail}}">
                    </a>
                </div>
            </div>
        </div>

    </body>
</html>
