<!doctype html>
<html lang="en" ng-app="storytime">
<head>
    <meta charset="utf-8">
    <title>Story Time</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- In production use:
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    -->
    <script src="/static/js/lib/angular/angular.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/directives.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/app.css"/>
</head>
<body>

    <div class="navbar navbar-default" role="navigation">
        <a class="navbar-brand" href="/">Story Time</a>
    </div>

    <div class="container" ng-controller="NewStoryCtrl">
        <div class="row">
            <div class="col-md-12">
                <blockquote>
                    <p>Write your story...</p>
                </blockquote>
            </div>
        </div>
        <div class="form-horizontal" role="form">
            <div class="form-group">
                <label for="new-story-title" class="col-md-2 control-label">Title</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="new-story-title" placeholder="Title" ng-model="title">
                </div>
            </div>
            <div class="form-group">
                <label for="new-story-author" class="col-md-2 control-label">Author</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="new-story-author" placeholder="Author" ng-model="author">
                </div>
            </div>
        </div>

        <form role="form" ng-repeat="page in pages">
            <div class="form-group">
                <div class="col-md-12">Page {{$index + 1}} of {{pages.length}}</div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Picture</label>
                <label class="col-md-8 control-label">Text</label>
            </div>
            <div class="form-group">
                <div class="col-md-4" my-image-uploader>
                    <p>TODO: make image uploader directive</p>
                </div>
                <div class="col-md-8">
                    <textarea class="form-control" rows="15" type="text" placeholder="Text for page {{$index + 1}}" ng-model="page.text"></textarea>
                </div>
            </div>
        </form>

        <div class="form">
            <div class="form-group">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button class="btn btn-default">Add Page</button>
                </div>
            </div>
        </div>

        <div class="form">
            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary">Publish</button>
                </div>
            </div>
        </div>

    </div>

</body>
</html>
